// Makielab Ltd // image styles //

// Image treatments
.logo {
  width: 50%;
}

.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
}

.circle {
  border-radius: 50%;
}

.team-img {
  width: 160px;
  padding: 20px 10px;
  filter: gray; //for IE6-9
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

    &:hover, &:focus {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      -webkit-transition: all .6s ease;  // Transition for Webkit browsers
    }

  @media screen and (min-width: 700px) {
    width: 200px;
  }
}

.makielab-bio-img {
  display: none;

  @media screen and (min-width: 700px) {
    display: inline-block;
    width: 95%;
  }
}
