// Makielab Ltd // image styles //

// Image treatments
.logo {
  width: 50%;
}

.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.circle {
  border-radius: 50%;
}

.team-img {
  width: 160px;
  margin-top: 30px;
  padding: 0 10px;
  filter: gray; //for IE6-9
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

    &:hover, &:focus {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      -webkit-transition: all 0.5s ease;  // Transition for Webkit browsers
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
    }

  @media screen and (min-width: 700px) {
    width: 200px;
  }
}

.bio-img {
  display: none;
  float: right;

  @media screen and (min-width: 700px) {
    display: inline-block;
    width: 100%;
  }

  @media screen and (min-width: 1000px) {
    display: inline-block;
    width: 70%;
  }
}

.press-img {
  width: 80px;
  display: inline-block;
  padding: 0 1%;

    @media screen and (min-width: 500px) {
      width: 120px;
    }
}

.social-icon, .makies-sitelink {
  display: inline-block;

    &:hover {
      filter: brightness(2);
      -webkit-filter: brightness(2);
    }
}

.fb, .tw, .in, .email, .pin {
  width: 60px;
  height: 60px;
  padding: 0;

  @media screen and (min-width: 500px) {
    padding: 0 5px 10px;
  }

  @media screen and (min-width: 700px) {
    width: 40px;
    height: 40px;
    padding: 0 5px 10px;
  }
}

.fb {
  background: url("../media/site/icons/facebook.svg");
  background-size: cover;
}

.tw {
  background: url("../media/site/icons/twitter.svg");
  background-size: cover;
}

.in {
  background: url("../media/site/icons/instagram.svg");
  background-size: cover;
}

.email {
  background: url("../media/site/icons/email.svg");
  background-size: cover;
}

.pin {
  background: url("../media/site/icons/pin.svg");
  background-size: cover;
}


.makies-sitelink {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
  background: url("../media/site/makies-sitelink-img.svg");
  background-size: cover;
  width: 200px;
  height: 120px;
  padding: 0 10px 0 0;

    @media screen and (min-width: 700px) {
    float: right;
    margin-top: 0;
  }
}
