// Makielab Ltd // variables //

// background colors
@base-background-color: white;

// ui colors (makielab)
@ui-site-color-1: whitesmoke;
@ui-site-color-2: dimgray;
@ui-site-color-3: #333333;

// ui colors (other)
@ui-site-color-4: mediumturquoise;
@ui-site-color-5: coral;

// typography
@body-font-family: 'ABeeZee', sans-serif;
@heading-font-family: 'McLaren', cursive;
@text-color: #707070;
@text-color-dark: #444444;
@text-color-subtle: #dddddd;
