// Makielab Ltd // variables //


// background colors
@base-background-color: white;

// ui colors
@ui-site-color-1: pink;
@ui-site-color-2: turquoise;
@ui-site-color-3: yellow;
@ui-site-color-4: green;
@ui-site-color-5: lightblue;

// typography
@font-family: 'Open Sans', Helvetica, Arial;
@text-color: #707070;
@text-color-dark: #444444;
@text-color-subtle: #dddddd;

// button colors
@button-background-color: @ui-site-color-1;
@button-background-color-hover: darken(@button-background-color, 3%);
@button-background-color-selected: @button-background-color-hover;
@button-border-color: pink;
